<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Centre</title>
</head>
<body>
    <header>
        <h1>RV College of Engineering Network Centre</h1>
        <figure>
            <img src="{{url_for('static', filename='img/rvLogo.jpg')}}" alt="RVCE Logo" class="rvLogo">
        </figure>
    </header>
    <main>
        <section>
            <h2>Campus Camera Manager</h2>
            <a href="login">Login</a>
        </section>
    </main>
</body>
</html>