<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Network Centre</title>
</head>
<body>
    <header>
        <h1>RV College of Engineering Network Centre</h1>
        <figure>
            <img src="{{url_for('static', filename='img/rvLogo.jpg')}}" alt="RVCE Logo" class="rvLogo">
        </figure>
    </header>
    
    <main>
        <form>
            <h2>Login</h2>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
    </main>
    
</body>
</html>