<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <meta http-equiv="refresh" content="20" />
    <title>Network Centre</title>
</head>
<body>
    <header>
        <h1>RV College of Engineering Network Centre</h1>
        <figure>
            <img src="{{url_for('static', filename='img/rvLogo.jpg')}}" alt="RVCE Logo" class="rvLogo">
        </figure>
    </header>
    <section>
        <h2>Online Cameras</h2>
        <div class="cameraList">
            {{Work|safe}}
        </div>
    </section>
    
    <hr>

    <section>
        <h2>Offline Cameras</h2>
        <div class="cameraList">
            {{Nwork|safe}}
        </div>
    </section>
</body>
</html>